RewriteEngine On
RewriteBase /

# Redirect all the React routes to index.html
RewriteRule ^$ /index.html [L]
RewriteRule ^members$ /index.html [L]
RewriteRule ^news$ /index.html [L]
RewriteRule ^publications$ /index.html [L]
RewriteRule ^contact$ /index.html [L]
RewriteRule ^signUp$ /index.html [L]
RewriteRule ^gallery$ /index.html [L]
RewriteRule ^users$ /index.html [L]
RewriteRule ^profile$ /index.html [L]
RewriteRule ^honorary$ /index.html [L]
RewriteRule ^sc-members$ /index.html [L]
RewriteRule ^ec-members$ /index.html [L]
RewriteRule ^mission$ /index.html [L]
RewriteRule ^user/profile/[^/]+$ /index.html [L]  # Handle dynamic email route
